@media (max-width:1236px){
    .background-imige{
       height:647px;
    }
    
}
@media(max-width:1115px){
    .margin{margin-left: 230px;
        margin-top: 60px;
    }
    .section-footer4{
        margin-right:80px;
    }
    .background-imige{
        height:547px;
    }
}
@media(max-width:1070px){
    .background-imige{
        height:447px ;
    }
    .header-text-block{
        height:153px;
        margin-top: 200px;
        margin-right: 150px;
    }
    .margin{
        margin-left: 190px;
        margin-top:55px;
    }

}
@media(max-width:870px){
    .background-imige{
        height: 347px;
    }
    .header-text-block{
        height:100px;
        margin-top: 200px;
        margin-right: 150px;
        width: 550px;
    }
    .lorem-header{
        font-size: 45px;
    }
    .lorem-text-header{
        margin-top: 20px;
        font-size: 14px;
        width:390px;
        line-height: 25px;
    }
    .nav-ul{
        width: 300px;
        margin-right: 30px;
        margin-left: 190px;
    }
    .margin{
        margin-left: 150px;
        margin-top:15px;
    }
}
@media(max-width:677px){
    .background-imige{
        height:300px;
    }
    .margin{
        margin-left: 150px;
        margin-top:15px;
    }
    .header-text-block{
        height:90px;
        margin-top: 200px;
        margin-right: 150px;
        width: 500px;
    }
    .lorem-header{
        font-size: 40px;
        margin-right:30px;
    }
    .lorem-text-header{
        margin-top: 20px;
        font-size: 14px;
        width:390px;
        line-height: 25px;
    }
}

@media(max-width:590px){
    .background-imige{
        height: 247px;
    }
}
@media(max-width:492px)
{
    .background-imige{
        height:190px ;
    }
}
@media(max-width:377px){
    .background-imige{
        height: 140px;
    }
}
/* header end */
@media (max-width:768px){
        .navigation{
            display: none;
        }
        .burger-bar{
            display: block;
            color: rgb(7, 8, 8);
            font-size: 25px;
            height: 32px;
            width: 32px;
            left: 20px;
        }
    
}

/* section1 */
@media (max-width:1024px){
    .block{
        width: 48%;
    }
    .block{
        margin-bottom: 30px;
    }
    .block-info{
        width: 48%;
        margin-bottom: 93px;
    }
    .wraper-block{
        height: auto;
    } 
    /* ver avamokmede */
    .flex-block{
        flex-direction: column-reverse;
    }
}
@media(max-width:480px){
    .block{
        width: 100%;
    }
    .block-item{
        width: 100%;
    }

}